<html>
    <head>
        <style type="text/css">
            h1 {
                color: red;
            }
        </style>
    </head>
    <body>
        <h1>Welcome to {{user_data.first_name}} {{user_data.last_name}} profile!</h1>
        <p>Age: </p>
        <p>Birthdate: </p>
        <p>Nationality: </p>
        <p>Worked at:</p>
        <ul>
          <!-- HINT: Use the forloop syntax from Flask template engine to
          render a <li> tag for each work in user_data.worked_at -->
        </ul>
    </body>
</html>
